<?php

// This is your TM login info

$user = '';
$passwd = '';

// Please update this file with your db config

$con=mysqli_connect();

if (mysqli_connect_errno()) {
	echo "Failed to connect to MySQL: " . mysqli_connect_error();
}

// Create 3 MYSQL tables if necessary
$result = mysqli_query($con, "SELECT * FROM battery");
if($result == NULL) {
	mysqli_query($con, "CREATE TABLE battery(`Date` TIMESTAMP, `Range` DECIMAL(5,2), `Percent` TINYINT(3), `Sleep` TINYINT(1))");
}

$result2 = mysqli_query($con, "SELECT * FROM settings");
if($result2 == NULL) {
	mysqli_query($con, "CREATE TABLE settings(`Level` TINYINT(2), `Desired` TINYINT(2), `Latitude` FLOAT(10,6), `Longitude` FLOAT(10,6))");
}

$result3 = mysqli_query($con, "SELECT * FROM stream");
if($result3 == NULL) {
	mysqli_query($con, "CREATE TABLE stream(`Time` Decimal(5,3), `Speed` TINYINT(3), `Power` SMALLINT(3))");
}

?>